body {
  background-color: BLACK;
  color: WHITE;
  font-family: ARIEL, sans-serif;
  text-align: CENTER;
}

h1 {
  color: PURPLE;
  margin-top: 120px;
}

p {
  font-size: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
input {
  padding: 9px;
  margin: 10px;
}
 